[Desktop Entry]
Name=czynaczas
Comment=Rozkład jazdy online
Exec=pwa https://czynaczas.pl
Icon=czynaczas.pl
Terminal=false
Type=Application
Categories=Network;
