[Desktop Entry]
Name=Tumblr
Comment=This is tumblr
Exec=pwa https://www.tumblr.com/
Icon=tumblr.com
Terminal=false
Type=Application
Categories=Network;
